@font-face {
	font-family: Roboto;
	src: url("../font/Roboto-Regular.ttf");
}

body {
	background-color: #222222;
	color: #222;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.bg-img {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	background-size: cover;
	background-position: center;
	filter: blur(25px);
}

/* .title {
	font-size: 40pt;
	text-align: center;
	margin: 10px;
	background-color: #44444488;
	margin: 0;
	margin-bottom: 15px;
	padding: 5px;
	color: #EEE;
} */

/* DESKTOP */
@media screen and (min-width: 480px) {
	.release-container {
		width: 35%;
		margin-left: 32.5%;
		box-sizing: border-box;
	}

	.title {
		font-size: 40pt;
		text-align: center;
		margin: 10px;
		background-color: #44444488;
		margin: 0;
		margin-bottom: 15px;
		padding: 5px;
		color: #EEE;
	}
}

/* MOBILE */
@media screen and (max-width: 480px) {
	.release-container {
		width: 95%;
		margin-left: 2.5%;
		box-sizing: border-box;
	}

	.title {
		font-size: 200%;
		text-align: center;
		margin: 10px;
		background-color: #44444488;
		margin: 0;
		margin-bottom: 15px;
		padding: 5px;
		color: #EEE;
	}
}

.release-container img {
	width: 100%;
	height: auto;
	border: 7px solid white;
	box-sizing: border-box;
	margin-bottom: 0px;
}

.remember-container {
	width: 100%;
	background-color: #FFF;
	border: 2px solid #AAA;
	box-sizing: border-box;
	text-align: center;
}

.store-container {
	background-color: #FFF;
}

.store-container:nth-child(2) {
	border-top: 2px solid #AAA;
}

.store-container-name {
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	border-right: 2px solid #AAA;
	border-left: 2px solid #AAA;
	border-bottom: 2px solid #AAA;
	float: left;
}

.store-container-link {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
	border-bottom: 2px solid #AAA;
	border-right: 2px solid #AAA;
	padding: 10px;
	cursor: pointer;
	color: #222;

	transition: background-color .25s, box-shadow .25s;
}

.store-container-link:hover {
	background-color: #DDD;
	box-shadow: inset 0px 0px 15px 0px #444;
}

h4 {
	margin: 0px;
	text-align: center;
}

h1 a {
	color: #EEE;
	text-decoration: underline dotted;
}

.center {
	text-align: center;
}