@font-face {
	font-family: Roboto;
	src: url("../font/Roboto-Regular.ttf");
}

body {
	background-color: #222222;
	color: #EEEEEE;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding-top: 50px;
}

.center {
	text-align: center;
}

.header {
	background-color: #1185a1;
	height: 50px;
	position: absolute;
	top: 0;
	width: 100%;
}

.header h1{
	margin: 0;
	margin-left: 10px;
	margin-top: 3px;
	padding: 3px;
	display: inline-block;
	cursor: default;
	user-select: none;
}

.header h1 a {
	color: #EEEEEE;
	text-decoration: none;
}

.header-menu {
	float: right;
	position: relative;
	/* padding-left: 10px; */
	height: 100%;
	margin-right: 15px;
	min-width: 175px;
	text-align: center;
	border-left: 1px solid #094d5e;
	border-right: 1px solid #094d5e;
	z-index: 10;
}

@media screen and (max-width: 640px) {
	body {
		padding-top: 35px;
	}

	.header {
		height: 35px;
	}

	.header h1 {
		font-size: 14pt;
	}

	.header-menu {
		min-width: 50px;
		height: 100%;
	}

	.header-menu h2{
		font-size: 10pt;
		margin-top: 25%;
	}
}

.header-menu:hover {
	cursor: pointer;
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
	color: #222222;
	border: none;
}

.header-menu h2 {
	margin: 0;
	margin-top: 7%;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.header-menu-content {
	display: none;
	background-color: #EEEEEE;
	width: 100%;
	border-top: 1px solid #CCC;
	z-index: 99;
}

.header-menu-content:hover {
	background-color: #F8F8F8;
}

.header-menu-content a {
	background-color: #EEEEEE;
	color: #222222;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	display: block;
	font-size: 14pt;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	box-sizing: border-box;
}

.header-menu-content a:hover {
	background-color: #F8F8F8;
}

.header-menu:hover .header-menu-content {
	display: block;
}

h4.link {
	font-weight: 300;
	text-decoration: underline;
	color: #1185a1;
	margin-top: 15px;
	display: inline-block;
	margin-bottom: 5px;
}

h4.link:hover {
	cursor: pointer;
}

.login-form {
	text-align: center;
	width: 50%;
	margin-left: 25%;
}

.login-form h1 {
	font-size: 32pt;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 10px;
}

.login-form input[type="text"], .login-form input[type="password"] {
	display: block;
	padding: 5px;
	font-size: 16pt;
	margin-bottom: 10px;
	width: 50%;
	margin-left: 25%;
	box-sizing: border-box;
	border-radius: 0px;

	background-color: #222222;
	border: none;
	border-bottom: 2px solid #888888;
	caret-color: #888888;
	color: #EEEEEE;

	transition: border .25s;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus {
	outline: none;
	border-color: #EEEEEE;
}

.login-form input[type="text"].valid, .login-form input[type="password"].valid {
	border-color: #EEEEEE;
}

.login-form input[type="submit"] {
	width: 25%;
	background-color: #1185a1;
	color: white;
	padding: 5px;
	font-size: 16pt;
	border: none;
	border-radius: 5px;
	margin-top: 10px;

	transition: background-color .25s;
}

.login-form input[type="submit"]:hover {
	cursor: pointer;
	background-color: #24aacc;
}

.login-form input[type="submit"]:focus {
	outline: none;
	border: 2px solid #094d5e;
}

.btn-large {
	text-decoration: none;
	font-size: 18pt;
	color: white;
	background-color: #1185a1;
	padding: 15px;
	display: block;
	width: 20%;
	margin-left: 40%;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 20px;
	border: none;

	transition: background-color .25s;
}

.btn-large:hover {
	background-color: #24aacc;
	cursor: pointer;
}

.btn-large:focus {
	outline: none;
}

@media screen and (max-width: 640px) {
	.login-form {
		width: 95%;
		margin-left: 2.5%;
	}

	.login-form input[type="text"], .login-form input[type="password"] {
		width: 75%;
		margin-left: 12.5%;
	}
}

.main-content {
	background-color: #444444;
	width: 95%;
	margin-left: 2.5%;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	min-height: 500px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	z-index: 0;
}

.split-container {
	width: 100%;
	min-height: inherit;
	padding: 10px;
	display: flex;
	box-sizing: border-box;
}

.new-release-left {
	float: left;
	width: 50%;
	min-height: inherit;
	border-right: 1px #282828 solid;
	padding-right: 10px;
}

.new-release-right {
	float: right;
	width: 50%;
	min-height: inherit;
	padding-left: 10px;
	box-sizing: border-box;
}

.split-left {
	float: left;
	width: 50%;
	min-height: inherit;
	border-right: 2px #282828 solid;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}

.split-right {
	float: right;
	width: 50%;
	min-height: inherit;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.new-release-submit {
	margin-top: 10px;
}

.new-release-submit input[type="submit"] {
	margin-bottom: 10px;
}

.new-release-submit input[type="submit"]:focus {
	outline: none;
	background-color: #24aacc;
}

img.img-upload {
	border: 5px solid #FFF;
	box-shadow: 2px 2px 10px #111;
	margin-bottom: 10px;
}

img.img-upload:hover {
	cursor: pointer;
}

.input-container h3 {
	display: inline-block;
	font-size: 16pt;
	padding: 5px 0px;
	margin: 0;
	margin-top: 5px;
}

input[type="date"] {
	font-family: "Roboto";
}

input[type="text"], input[type="date"], input[type="password"] {
	font-size: 16pt;
	padding: 5px;
	border: 3px solid #AAA;
	border-radius: 5px;
	background-color: #EEE;
	color: #222;
	box-sizing: border-box;
	margin-bottom: 10px;
	width: 20%;

	transition: border-color .25s;
}

.new-release-left input[type="text"], .new-release-left input[type="date"] {
	width: 75%;
	float: right;
}

.new-release-right input[type="text"] {
	width: 66%;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus {
	outline: none;
	border-color: #222;
}

select {
	font-size: 16pt;
	background-color: #EEE;
	border: 3px solid #AAA;

	transition: border-color .25s;
}

.new-release-left select {
	width: 75%;
	margin-bottom: 10px;
	float: right;
}

.new-release-right select {
	width: 23%;
	margin-right: 1%;
}

select:focus {
	outline: none;
	border-color: #222;
}

.plus {
	margin: 5px;
	font-size: 36px;
	background-color: #1185a1;
	width: 40px;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	user-select: none;

	transition: background-color .25s;
}

.plus:hover {
	background-color: #24aacc;
}

.minus {
	margin: 5px;
	font-size: 36px;
	background-color: #1185a1;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	user-select: none;
	display: inline;
	padding: 0px 15px;
	transition: background-color .25s;
}

.minus:hover {
	background-color: #24aacc;
}

@media screen and (max-width: 640px) {
	.split-container {
		display: block;
		box-sizing: border-box;
	}

	.new-release-left {
		float: none;
		width: 100%;
		min-height: inherit;
		border-right: none;
		padding-right: 10px;
		font-size: 10pt;
	}

	.new-release-right {
		float: none;
		width: 100%;
		min-height: inherit;
		padding-left: 10px;
	}

	.new-release-left input[type="text"], .new-release-left input[type="date"] {
		width: 60%;
		float: right;
	}

	.new-release-right input[type="text"] {
		width: 66%;
	}

	.new-release-left select {
		width: 60%;
		margin-bottom: 10px;
		float: right;
	}

	.new-release-right select {
		width: 23%;
		margin-right: 1%;
	}
}

.home-release-container {
	margin-top: 10px;
	margin-left: 10px;
	text-align: left;
	/* justify-content: space-between; */
	display: flex;
}

.home-release-container img {
	border: 5px solid #FFF;
	box-shadow: 2px 2px 10px #111;
	display: inline-block;
	height: auto;
}

.home-release-col {
	width: 16%;
	display: inline-block;
}

.home-release-col .btn-large {
	width: 90%;
	text-align: center;
	margin-left: 5%;
	height: 55px;
	margin-top: 72.5px;
}

.home-release-col:not(:last-child) {
	margin-right: 10px;
}

.home-release-img {
	position: relative;
	width: 95%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 640px) {
	.btn-large {
		width: 50%;
		margin-left: 25%;
	}

	.home-release-container {
		display: inline-grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		transform: translateX(-5px);
	}

	.home-release-col {
		width: 100%;
		height: auto;
	}

	.home-release-container img {
		width: 80%;
	}

	.home-release-col .btn-large {
		width: 90%;
		text-align: center;
		margin-left: 5%;
		margin-top: 0;
	}
}

.profile-container {
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

.profile-container img {
	border: 5px solid #FFF;
	box-shadow: 2px 2px 15px #000;
}

.profile-container h4.link {
	margin-top: 10px;
	margin-bottom: 0px;
}

.profile-container .main-content {
	margin-top: 10px;
}

.profile-header {
	margin-left: 12.5%;
	width: 75%;
	box-shadow: inset 0px 0px 15px 5px #181818;
	border-radius: 10px;
	padding: 20px;
	background-color: #282828;
}

.profile-header img {
	text-align: left;
	display: inline-block;
}

.profile-bio {
	display: inline-block;
	width: 60%;
	float: right;
	box-shadow: 2px 2px 10px #111;
	min-height: 200px;
	transform: translate(0px, -5px);
}

.profile-socials-container {
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	text-align: center;
	width: 50%;
	margin-left: 25%;
	border-top: 3px solid #383838;
	border-radius: 2px;
	padding-top: 10px;
}

.profile-socials-container img {
	border: none;
	box-shadow: 2px 2px 15px #222;
	width: 50px;
	border-radius: 10px;

	transition: box-shadow .25s;
}

.profile-socials-container img:hover {
	box-shadow: 8px 8px 15px #333;
}

.profile-socials-container a:not(:first-child) {
	margin-left: 10px;
}

.grid-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* DESKTOP */
@media screen and (min-width: 640px) {
	.grid {
		margin-top: 15px;
		height: 20%;
		min-width: 20%;
		flex-basis: 20%;
	}
}

/* MOBILE */
@media screen and (max-width: 640px) {
	.profile-header {
		width: 90%;
		margin-left: 2.5%;
		padding: 10px;
	}
	
	.profile-header img {
		/* display: block; */
		text-align: center;
		margin-top: 10px;
	}
	
	.profile-bio {
		width: 90%;
		float: none;
		margin: 0;
		margin-bottom: 5px;
		min-height: 0px;
	}

	.profile-bio p {
		margin-bottom: 70px;
	}

	.profile-socials-container {
		border-width: 2px;
		padding-top: 0px;
		transform: translateX(-5px);
	}

	.profile-socials-container img {
		width: 35px;
		border-radius: 5px;
	}

	.profile-socials-container img:not(:first-child) {
		margin-left: 5px;
	}

	.grid-container {
		display: inline-block;
		margin-left: 0px;
	}

	.grid {
		margin-top: 15px;
		margin-left: 2.5%;
		margin-right: 2.5%;
		width: 45%;
		min-height: 20%;
		display: inline-block;
		float: left;
	}

	.grid h4 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.grid:nth-child(even) {
		float: right;
	}
}

.grid h4 {
	margin: 5px;
}

.grid-release-container {
	position: relative;
}

.art-overlay {
	position: absolute;
	top: 0;
	bottom: 4px;
	left: calc(7.5% - 5px);
	right: 0;
	width: calc(85% + 10px);
	height: inherit;
	background-color: #000;
	opacity: 0;
	cursor: pointer;

	transition: opacity .125s;
}

.art-overlay:hover {
	opacity: 0.8;
}

.art-overlay h3 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 16pt;
	color: #FFF;
}

.no-releases {
	width: 50%;
	margin-left: 25%;
}

/* DESKTOP */
@media screen and (min-width: 640px) {
	.modal-content {
		background-color: #FEFEFE;
		margin: 5% auto;
		padding: 10px;
		width: 50%;
		color: #222;
		box-sizing: border-box;
		border-radius: 10px;
	}

	.modal-content input[type="text"] {
		width: 60%;
	}
}

/* MOBILE */
@media screen and (max-width: 640px) {
	.modal-content {
		background-color: #FEFEFE;
		margin: 50% auto;
		padding: 10px;
		width: 95%;
		color: #222;
		box-sizing: border-box;
		border-radius: 10px;
	}

	.modal-content input[type="text"] {
		width: 100%;
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal-close {
	float: left;
	color: #444;
	cursor: pointer;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-right: 5px;
	display: inline-block;
	font-size: 24pt;

	transition: color .125s;
}

.modal-close:hover {
	color: #888;
}

#current-store {
	cursor: pointer;

	transition: color .25s;
}

#current-store:hover {
	color: #AAA;
}

.stat-container {
	text-align: left;
	width: 50%;
	margin-left: 25%;
}

.stat {
	width: 100%;
	display: inline-block;
	margin-top: 5px;
}

.stat:not(:last-child) {
	margin-bottom: 0px;
}

.stat-img {
	border: 5px solid white;
	margin-bottom: 10px;
	box-shadow: 2px 2px 10px #111;
}

.flash-msg {
	padding: 7px;
	color: #222;
}

.flash-msg h2 {
	margin: 0px;
}

.flash-msg.green {
	background-color: #8FDBA3;
}

.flash-msg.red {
	background-color: #E07B7B;
}

.flash-msg.gray {
	background-color: #BBB;
}

.flash-x {
	float: left;
	cursor: pointer;

	transition: color .125s;
}

.flash-x:hover {
	color: #444;
}

.store {
	width: 100%;
	height: 50px;
	background-color: #888;
	margin-bottom: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #333;

	transition: height .125s;
}

.store.open {
	height: 110px;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #DDD;
	margin-left: 10px;
	transform: translateY(10px);
	display: inline-block;
	user-select: none;

	transition: transform .125s, border-left-color .25s;
}

.arrow-right:hover {
	cursor: pointer;
	border-left-color: #FFF;
}

.arrow-right.down {
	margin-left: 15px;
	border-left-color: #FFF;
	transform: rotateZ(90deg) translateX(12.5px);
}

.store h2 {
	margin-left: 10px;
	font-size: 20pt;
	display: inline;
	user-select: none;
	vertical-align: middle;
}

.store-nav {
	float: right;
	margin-right: 10px;
	margin-top: 7px;
}

.store-data {
	margin-top: 10px;
	padding-left: 10px;
	opacity: 0;
	display: none;
	transition: opacity .0;
}

.store-data.show {
	opacity: 1;
	display: block;
	transition: opacity .25s;
}

.store-data select {
	margin-top: 8px;
}

.store-data input[type="text"] {
	/* float: right; */
	margin-right: 10px;
	margin-top: 5px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #DDD;
	margin-bottom: 7.5px;
	transition: border-bottom-color .25s;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #DDD;
	transition: border-top-color .25s;
}

.arrow-up:hover, .arrow-down:hover {
	cursor: pointer;
}

.arrow-up:hover {
	border-bottom-color: white;
}

.arrow-down:hover {
	border-top-color: white;
}

.store-remove {
	color: #DDD;
	font-size: 55px;
	float: right;
	display: inline-block;
	transform: translate(-15px, -7px);

	transition: color .25s;
}

.store-remove:hover {
	color: #FFF;
	cursor: pointer;
}

.store-link {
	transition: background-color .25s, border .25s;
}

.store-link.valid {
	border-color: #077324;
	background-color: #A7EBB9;
	transition: background-color .25s, border .25s;
}

.store-link.invalid {
	border-color: #5E0000;
	background-color: #EBA7A7;
	transition: background-color .25s, border .25s;
}

textarea {
	font-size: 16pt;
	padding: 5px;
	border: 3px solid #AAA;
	border-radius: 5px;
	background-color: #EEE;
	color: #222;
	box-sizing: border-box;
	margin-bottom: 10px;
	font-family: "Roboto";

	transition: border-color .25s;
}

textarea:focus {
	outline: none;
	border-color: #222;
}

.social-container {
	width: 50%;
	margin-left: 25%;
	display: flex;
	box-sizing: border-box;
}

.social-container h4 {
	width: 39%;
	float: left;
	padding-right: 25px;
}

.social-container input[type="text"] {
	width: 60%;
	float: right;
}

@media screen and (max-width: 640px) {
	input[type="text"], input[type="password"] {
		width: 75%;
	}

	input[type="submit"] {
		width: 75%;
		margin-left: 12.5%;
	}

	.social-container {
		width: 95%;
		margin-left: 2.5%;
	}

	.social-container h4 {
		width: 24%;
		float: left;
		text-align: right;
	}

	.social-container input[type="text"] {
		width: 75%;
		float: right;
	}

	.login-form input[type="submit"] {
		width: 75%;
		margin-left: 0;
	}
}

#spotify-releases {
	display: grid;
	/* grid-template-columns: 25% 25% 25% 25%; */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* grid-column-gap: 10px; */
	justify-items: center;
}

#spotify-releases .release {
	text-align: center;
}

.btn-black {
	background-color: #000;
}

.btn-black:hover {
	background-color: #181818;
}

.btn-black:focus {
	background-color: #181818;
}

.spotify-img {
	width: 27px;
	margin-right: 10px;
	float: left;
}

@media screen and (max-width: 640px) {
	#spotify-releases {
		grid-template-columns: 1fr;
	}

	#artist_id {
		width: 95% !important;
	}
}

@media screen and (max-width: 640px) {
	
}

.footer {
	width: 100%;
	height: 75px;
	background-color: #181818;
	color: #EEE;
	padding: 10px;
	box-sizing: border-box;
}

.footer-text {
	width: 50%;
	margin-left: 25%;
	text-align: center;
}

.footer-text h3 {
	margin: 0;
}

.footer-links h5 {
	display: inline;
}